.nopadding {
    padding: 0 !important;
}

.slider {
    width: 300px;
}

/* Für die Introseiten */
.intro-page-row {
    min-height: 100vh;
}

#grafic {
    width: 500px;
    height: 500px;
}

.vl {
    border-left: 1px solid black;
    height: 500px;
}

.green {
    color: green;
    font-weight: bold;
}
